.contents {
    justify-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.contents * {
    font-size: 18px;
}

.nonbutton-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nonbutton {
    width: 90%;
    padding: 10px;
}

#warning {
    width: 100%;
    height: 100%;
    text-align: left;
}

.row-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-line {
    width: 100%;
}

#input p {
    margin-left: 0;
    padding-left: 0;
}

#subject #input {
    margin-left: 0;
    padding-left: 0;
    margin-right: 10px;
}

#input input {
    margin-right: 0;
    padding-right: 0;
    text-align: right;
}

input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
}

#time {
    text-transform: uppercase;
    color: gray;
    font-size: 10px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

#margin-guy {
    width: 100%;
}

textarea {
    width: 100%;
    border: none;
    margin: 10px;
    margin-top: 20px;
    padding-right: 20px;
    resize: none;
    background-color: transparent;
    outline: none;
    height: 20vh;
    font-size-adjust: 0.3;
    color: black;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.body-out {
    caret-color: transparent;
    user-select: none;
}

textarea ::-webkit-scrollbar {
    display: none;
}

#input {
    display: flex;
    flex-direction: row;
    align-items: right;
}