@media (min-width: 600px) {
  .window {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

}

@media (max-width: 599px) {
  .window {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  }

}

.window * {
  box-sizing: border-box;
}

.message {
  width: 80%;
  height: 20%;
  text-align: justify;
  color: black;
  background-color: white;
  opacity: 40%;
  display: none;
}

.window-header {
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  background-color: gray;
}

.left-stuff {
  margin: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.left-stuff img, p {
  height: 50px;
  margin: 10px;
  align-content: center;
}

.window {
  position: absolute;
  filter:drop-shadow(0px 0px 15px rgb(45, 45, 45));
  width: 400px;
}

.close-button {
  width: 40px;
  height: 20px;
  background-color: #ff7070;
  cursor: pointer;
  border-radius: 0px;
  border-bottom-left-radius: 10px;
  border: none;
  outline: none;
  box-shadow: none;
}

.close-button:hover {
  background-color: #ff2020;
}

.window-contents {
  background-color: white;
  color: black;
  justify-content: center;
  justify-self: center;
  margin: 0;
  padding: 0;
  width: 100%;
}