/* win-wrap and win-pos styles from https://unplug.red */
@media (min-width: 555px) {
  .message {
    display: none;
  }
}

@media (max-width: 554px) {
  .window {
    display: none;
  }
}

.message {
  width: 80%;
  height: 20%;
  text-align: justify;
  color: black;
  background-color: white;
  opacity: 80%;
}

.window {
  min-width: 300px;
  width: 50vw;
  height: 50vh;
  min-height: 380px;
  position: absolute 5vw 5vw;
  background-color: white;
  border-radius: 10px;
  justify-content: center;
}

.window-header {
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  background-color: gray;
}

.left-stuff {
  margin: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.left-stuff img, p {
  height: 3.5vw;
  margin: 10px;
  align-content: center;
}

.close-button {
  width: 20px;
  height: 5px;
  background-color: #ff7070;
  cursor: pointer;
  border-radius: 0px;
  border-bottom-left-radius: 10px;
  border: none;
  outline: none;
  box-shadow: none;
}

.close-button:hover {
  background-color: #ff2020;
}

.window-contents {
  background-color: white;
  color: black;
  justify-content: center;
  justify-self: center;
}

.warning-wrap {
  width: 100%;
  justify-items: left;
  text-align: left;
  margin: 10px;
}

.button-wrap {
  width: 100%;
  justify-items: right;
  margin: 10px;
}